@font-face {
  font-family: 'Space';
  src: url('./fonts/space.ttf') format('truetype');
}

@font-face {
  font-family: 'Machina';
  src: url('./fonts/machina.ttf') format('truetype');
}

h1 {
  font-family: 'Machina', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-family: 'Space', sans-serif;
  font-size: 2rem;

  color: #A2D5AC;
}

html, body {
  margin: 0; 
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #304b50;
  color: #E5EEC1;
  font-family: 'Space', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-container {
  flex-grow: 1;
  margin-top: -140px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.header-content {
  flex: 1;
  white-space: nowrap;
  color: #E5EEC1;
}

.theme {
  font-family: 'Machina', sans-serif;
  font-size: 2rem;
  color: #A2D5AC;
  margin-bottom: 40px;
}

.question {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.answer {
  font-size: 1.2rem;
  font-family: 'Space', sans-serif;
  color: #A2D5AC;
  margin-bottom: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #557c83;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0;
}

.button-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 100%;
}

footer p, #copyright {
  padding: 20px;
}

.btn-primary, .btn-secondary {
  font-family: 'Machina', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 30px;
  min-width: 200px;
  min-height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #E5EEC1;
}

.btn-primary {
  background: #3AADA8; 
}
.btn-primary:hover {
  background: #70C5C1;
}

.btn-secondary {
  background: #304B50; 
}
.btn-secondary:hover {
  background: #1F3134;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 20px;
  background: #263D41;
  border-radius: 10px;
  max-width: 400px;
  padding: 20px 40px;
  text-align: left;
}

.category-container label {
  display: flex;
  gap: 10px;
  color: #E5EEC1;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.category-container input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #E5EEC1;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.category-container input[type="checkbox"]:checked {
  background: #3AADA8;
  border-color: #3AADA8;
}

.category-container input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 12px;
  color: #E5EEC1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#difficulty {
  border: 2px solid #263D41;
  appearance: none;
  max-width: 280px;
  padding: 14px 18px;
  border-radius: 8px;
  background: #263D41;
  color: #E5EEC1;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Space', sans-serif;
}

#user-answer {
  border: 2px solid #263D41;
  appearance: none;
  max-width: 200px;
  border-radius: 10px;
  background: #263D41;
  color: #E5EEC1;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Machina', sans-serif;
  box-sizing: border-box;
  padding:16px;
  font-size:1rem;
}

#popup-overlay {
  display: none; 
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background: #304b50;
  color: #E5EEC1;
  padding: 20px 40px 40px 40px;
  border-radius: 12px;
  max-width: 350px;
  text-align: center;
}

.popup-title {
  font-family: 'Machina', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #E5EEC1;
}

.popup-subtitle {
  font-family: 'Space', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #A2D5AC;
}

#correct-answer {
  font-weight: bold;
  color: #E5EEC1;
}

#reponse-text {
  color: #E5EEC1;
  font-weight: bold;
}

#score-result {
  color: #E5EEC1;
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem; 
  }
  h2 {
    font-size: 1.6rem; 
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
  }

  .theme {
    font-size: 1.8rem; 
    margin-bottom: 20px;
  }
  .question {
    font-size: 2rem; 
    margin-bottom: 20px;
  }
  .answer {
    font-size: 1.2rem; 
    margin-bottom: 20px;
  }

  .header {
    padding: 40px 0 0; 
    font-size: 1.4rem; 
  }

  .btn-primary, .btn-secondary {
    font-size: 1.2rem;
    padding: 12px 20px;
    min-width: 150px;
    min-height: 50px;
  }

  .game-container {
    margin-top: -100px; 
    padding: 0 30px;
  }

  .category-container {
    grid-template-columns: 1fr;
    gap: 12px 10px;
    padding: 20px;
  }

  .footer {
    padding: 20px 0 0;
  }
  #copyright {
    padding: 0px;
  }
}
